.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  margin: 100px;
}

.mediaDisplay {
  padding: 20px;
  display: flex;
  gap: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  width: 800px;

  img {
    width: 200px;
    border-radius: 20px;
  }
}

.mediaDisplay .ratings {
  font-weight: 600;

  .voteAverage {
    font-size: 24px;
    color: skyblue;
  }
  .voteCount {
    font-size: 15px;
  }
}

.mediaInfoHolder {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  .group {
    display: flex;
    gap: 20px;
  }

  .title {
    font-size: 25px;

    span {
      font-size: 14px;
    }
  }

  .buttons {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    button {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    .watch {
      background-color: #007bff;
      color: white;
    }
    .watch:hover {
      background-color: #2160bc;
    }
  }
}

.recommendationsHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
