.seasonsHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.season {
  position: relative;
  height: 200px;
  width: 130px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  font-weight: 600;
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.season::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  transition: background-color 0.3s ease;
}

.season:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.season:hover {
  transform: scale(1.05);
}

.season > * {
  position: relative;
  z-index: 1;
}

.episodeButton {
  background-color: #e0f7fa;
  color: #004d40;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid #b2ebf2;

  cursor: pointer;
  height: 40px;
}

.episodeButton.notReleased {
  background-color: #ffcdd2;
  color: #b71c1c;
  border: 3px dashed #ef9a9a;
  cursor: not-allowed;
  opacity: 0.6;
}

.episodeButton.active {
  background-color: #a5d6a7;
  color: #1b5e20;
}

.episodeButton:hover {
  background-color: #81c784; /* Slightly deeper green */
  border: 3px solid #388e3c; /* Complementary green border */
}

.season.active {
  transform: scale(1.05);
}

.season.active::before {
  background-color: rgba(0, 0, 0, 0.2); /* Less dim on active */
}

iframe {
  border-radius: 20px;
  padding: 10px;
  height: 507px;
  width: 900px;
  cursor: pointer;
}

.seasonsAndEpisodes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.episodeButtonsHolder,
.seasonsHolder {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 450px;
  align-items: center;
  justify-content: center;
}

.notReleasedLogo {
  background-color: lightcyan;
  padding: 20px;
  border: 3px solid #81c784;
}

.iframeHolder {
  position: relative;
  width: fit-content;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
  }

  iframe {
    position: relative;
    z-index: 1;
  }
}
