.mediaPlayerHolder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}


.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.mediaDisplay {
  padding: 50px;
  display: flex;
  gap: 50px;
  background-color: antiquewhite;
  border-radius: 20px;

  img {
    width: 250px;
    border-radius: 20px;
  }

  .imgAndRatings {
    align-self: center;
  }
}

.mediaDisplay .ratings {
  font-weight: 600;

  .voteAverage {
    font-size: 24px;
    color: skyblue;
  }
  .voteCount {
    font-size: 15px;
  }
}

.mediaInfoHolder {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  gap: 20px;
  align-self: center;

  .group {
    display: flex;
    gap: 20px;
  }

  .title {
    font-size: 25px;

    span {
      font-size: 14px;
    }
  }

  .buttons {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    img {
      width: 20px;
    }

    .favoriteIcon {
      width: 30px;
      cursor: pointer;
    }

    button {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    .watch {
      background-color: #007bff;
      color: white;
      display: inline-flex;
      gap: 10px;
      font-weight: 600;
      font-size: 14px;
      align-items: center;
    }
    .watch:hover {
      background-color: #2160bc;
    }
  }
}