.recommendationsHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recommendations {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping */
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.individualRecommendations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  border: 3px transparent solid;
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  align-items: center;

  img {
    width: 200px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
  }

  .title {
    max-width: 220px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }

  .details {
    display: flex;
    gap: 8px;
    font-size: 14px;
    flex-wrap: wrap;

    .mediaType,
    .seasons,
    .episodes,
    .releaseDate {
      border: black 2px solid;
      border-radius: 10px;
      padding: 8px;
      font-weight: 600;
      background-color: #f0f0f0;
    }
  }
}

.individualRecommendations.active {
  background-color: antiquewhite;
  border: 3px black solid;
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
